.scroll-section {
    height: 100vh; /* Menetapkan tinggi section menjadi 100% tinggi tampilan */
    transform: translateY(20px); /* Menggeser section ke bawah sedikit */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Animasi saat section masuk ke dalam viewport */
.scroll-section.in-viewport {
    opacity: 1;
    transform: translateY(0);
}
.content{
    margin-left: 300px ;
    align-items: center;
    justify-content: center;
}
.content img{
    max-width: 400px;
    float: right;
    margin-right: 200px;
    margin-top: 60px; 
}
.content h1 {
    max-width: fit-content;
    font-size: 35px;
    margin-top: 125px;
    text-align: left;
}

.content h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;

}
.content p {

    font-size: auto;
    width: 400px;
    
}

.konten {
    
}

.content-container {
    display: flex;
}

.content-container .box {
    flex: 1 1 10rem;
    padding: 30px;
    display: flexbox;
    text-align: center;
    margin-top: 3rem;
    border-radius: 0.5rem;
}

.box-img {

}

span {
    
}
.judul{
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}
.judull{
    font-size: 20px;
    text-align: center;
}
.judul2{
    font-size: 25px;
    text-align: center;
    margin-top: 150px;
}
.judull2{
    max-width: 500px;
    font-size: 15px;
    text-align: center;
    margin-left: 600px;
}
.last{
    text-align: center;
    margin: 20px;
}